*{
    padding: 0;
    margin: 0;

}
body
{
    font-family: 'poppins',sans-serif;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.navbar-links{
    display: flex;
    column-gap: 20px;
}
.navbar-links a{
    text-decoration: none;
    color:#1D232C;
}
.navbar-link a:hover{
    text-decoration: underline;
    color:#1D232C;

}
.navbar-menu-toggle
{
    display:none;

}

/*side-navbar-links */
.side-navbar{
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 10;
    left: 0;
    padding: 20px;
    color: white;
    display: none;
    transition: 2s;
   }
   .side-navbar-link{
       margin-bottom: 30px;
       
   }
   .side-navbar-links a{
       text-decoration:none;
       color: white;
   }
   .side-navbar-links a:hover{
       text-decoration:underline;
       
   }
   /*header*/
   .header
   {
     display: flex;
     justify-content: center;
     gap: 50px;
     padding: 20px;
   }
    .header-button
    {
        padding-left: 20px;
        padding-right:20px ;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 10px;
        cursor: pointer;
        background-color: white;
        color: #1D232C;
        border-color: #f2f4f7;
        
    }
    /* service-container*/
    .service
    {
      padding:20px;

    }
    .service-container-1
    {
       display: flex;
       justify-content: space-between;
       align-items: center;
    }
    .service-container-2
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;

    }
    .service-container-2 div
    {
        background-color: #f2f4f7;
        border-radius: 5px;
        padding: 10px;
    }
    /*new-aarival */
    .new-arrival
    {
        display: flex;
        justify-content: space-between;

        
    }
    .new-arrival-container
    {

        position: relative;
        flex-basis: 20%;
        flex-wrap: wrap;
        
    }
    .new-arrival button
    {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
        margin-top: 0;
        border-radius: 40px;
        margin-bottom: 10%;
        color: #1D232C;
        position: static;
        top: 50%;
        left: 15%;
        border-radius: 15px;
        border: none;
    }
    .news
    {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .news input
    {
        padding: 11px;
        width: 80vw;
        margin-bottom: 10px;
        border: solid black;
    }
    .news button
    {
        margin-top: 10px;
        color: #f2f4f7;
        background-color: #1D232C;
        border-radius: 10px;
        padding: 10px;
    }

    
     /*product */
     .product-section
     {
         margin-top: 20px;
     }
     .product-search
     {
         width: 80%;
         border: solid black;
         border-radius: 20px;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding: 10px;
         margin: auto;
     }
     .product-search input
     {
         border: none;
         background-color: transparent;
         width: 100%;
     }
     .product-search input:focus
     {
         outline: none;
     }
     .products
     {
        border: 1px solid black;
         padding: 20px;
         display: flex;
         gap: 10px;
         flex-wrap: wrap;
         justify-content: space-around;
 
     }
     .product-box
     {
         text-align: center;
         flex-basis:20%;
     }
     .product-box img
     {
         border-radius: 10px;
     }
 
    .footer
    {
        margin-top: 20px;
        padding: 40px;
        background-color: #1D232C;
        color: white;

    }

/*contact*/
.contact 
{
    margin-left: 10%;
    margin-right: 10%;
    top: 20%;
    background-color: #1D232C;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.contact div
{
 display: flex;
 justify-content: left;
 width: 80%;
 

}
table td
{
    color: white;
}
.table input
{
    width: 80%;
    border: solid black;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    
}
table{
    padding: 10px;
    border: 1px solid yellow;
    width: 100%;
}
button:hover{
    color: #fff;
    background-color: #333;
}
   

/*media queree */
@media screen and (max-width:600px)
{
.navbar-menu-toggle 
{
display: block;
}
.navbar-links
{
    display: none;
}
.header-image
    {
        display: none;
    }
.service-container-1{
    display: none;
}    
.service-container-2{
    flex-direction:column ;
}
}